body{
	background-color: #2F3336;
	color: #e6e2d3;
	height:100%;
    font-family: 'Krub', sans-serif;
    font-size: 17px;
}
h6{
	word-wrap: break-word;
}
a{
	color:#e6e2d3;
	font-weight: bolder;
}
.a-color:hover {
  background-color:#e6e6e6;
	color:#2F3336;
	text-decoration:none;
}
hr{
	border-top: 1px solid grey;
}
.opener{
	text-align: center;
	color:#deeaee;
	font-size:34px;
	font-family: 'Montserrat', sans-serif;
	font-weight:thin;
}
.years{
	text-left:center;
	font-size:15px;
	color:grey;
}
.edu{
	text-align:left;
	font-size:20px;
}
div.about div.row div, div.skillset div.row div, div.contact div.row div{
	text-align:center;
}
.about{
	margin-top: 20px;
}
.skill{
	height:100px;
}
.project{
	height:100px;
}
.contact-icon{
	height:20px;
}
.contact{
	min-height: 200px;
}
.contact-span{
	font-size: 20px;
}
#project-1-details{
	color:white;
	background-color: gray;
	display:none;
	position:absolute;
	height:40px;
	bottom:0px;
	width:320px;
	text-align: center;
}
